<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="Serene1_Northwind_v1Entities" connectionString="metadata=res://*/Core.Repositories.Model1.csdl|res://*/Core.Repositories.Model1.ssdl|res://*/Core.Repositories.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-CNCTLFBQ\SQLEXPRESS;initial catalog=Serene1_Northwind_v1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
